<main>
    {{#if havingProducts}}
        <div class="product-container">
            <h2>Product List</h2>
                {{#each prods}}
                    <h3>{{ this.title }}</h3>
                {{/each}}
        </div>
    {{else}}
        <h1 class="no-product">No products! Please add one</h1>
    {{/if}}
</main>
