extends layouts/main-layout.pug

block content
    main
        if prods.length > 0
            each product in prods
                .product-container
                    h3.product #{product.title}
        else
            h1.no-product No Product! Please add them.