.product-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 2px solid #cacaca;
    font: inherit;
    border-radius: 3px;
}

.form-control input:focus {
    outline: 2px solid #045a36;
}

button {
    font: inherit;
    border: 1px solid #045a36;
    color: #045a36;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #045a36;
    color: white;
}