<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="product-container">
                <% for (product of prods) { %>
                    <h3 class="product"><%= product.title %></h3>
                <% } %>
            </div>
        <% } else { %>
            <h1 class="no-product">No product! Please add one.</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>